:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Nuetral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --transparent-background: hsla(213, 20%, 18%, 0.325);

  --font-size: 15px;
}
body {
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  color: var(--white);
  height: 100vh;
}

.card {
  background-color: var(--dark-blue);
  width: 280px;
  padding: 30px;
  border-radius: 29px;
  color: var(--light-grey);
}
h1 {
  color: hsl(217, 7%, 78%);
  font-weight: 700;
}

p {
  line-height: 1.4;
  font-weight: 400;
}
.star {
  /* border: 1px solid white; */
  padding: 10px;
  border-radius: 50%;
  background-color: hsla(215, 9%, 27%, 0.555);
}

#ratings {
  display: flex;
  justify-content: space-between;
}
#ratings div {
  text-align: center;
  margin: auto;
  background-color: hsla(215, 9%, 27%, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--medium-grey);
}
#ratings div:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
}

.submit-btn {
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  padding: 10px 16px;
  border-radius: 35px;
  text-transform: uppercase;
  margin-top: 20px;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
}

#thank-you {
  text-align: center;
}
#thank-you .selected {
  color: var(--orange);
  background-color: hsla(215, 9%, 27%, 0.555);
  padding: 5px;
  margin: 2rem;
  border-radius: 25px;
  letter-spacing: 1.8px;
}
#thank-you h2 {
  color: var(--white);
}
#thank-you p {
  line-height: 1.5;
}
.hide {
  display: none;
}
#ratings .active {
  background-color: var(--medium-grey);
  color: var(--white);
}
